

body{
	overflow: hidden;
}


.background{
	background-image: url("../images/bg-img.jpg");
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
	z-index: 1
}
.goblet-of-fire{width: 200px;
	position: absolute;
	top: 340px;
	left: 720px;
}
.potter{
	width: 200px;
	position: absolute;
	top: 340px;
	left: 100px;
	animation: potter 6s linear infinite;
	animation-direction: alternate;
}
@keyframes potter{
	0%{left: 120px;}
	25%{left:  200px;}
	50%{left:  280px;}
	75%{left:  320px;}
	100%{left: 520px; }
}
.granger{
	width: 200px;
	position: absolute;
	top:120px;
	left: 720px;
	animation: granger 5s linear infinite;
	animation-direction: alternate;
}
@keyframes granger{
	0%{top: 0px;}
	25%{top: 60px;}
	50%{top: 120px;}
	75%{top: 180px;}
	100%{top: 240px; }
}
.weasley{
	width: 200px;
	position: absolute;
	top: 700px;
	left: 1300px;
    animation-direction: alternate;
	-webkit-animation: diagonal 6s infinite;
    -moz-animation: diagonal 6s infinite;
    -o-animation: diagonal 6s infinite;
    animation: diagonal 6s infinite;
}

@-webkit-keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-350px) translatey(-350px) }
}

@-moz-keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-350px) translatey(-350px) }
}

@-o-keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-350px) translatey(-350px) }
}

@keyframes diagonal {
    0%       { transform: translatex(px) translatey(0px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-35px) translatey(-350px) }
}
@keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-350px) translatey(-350px) }
}